@import url('https://fonts.cdnfonts.com/css/gilroy');
*{
  margin: 0;
}
body{
  font-family: 'Gilroy', sans-serif;
  text-align: center;
  overflow-x: hidden;
}
.brit{
  margin-top: 30px;
  margin-left: -770px;
}
.menu{
  margin-top: -40px;
}
.eng{
  margin-left: -400px;
  margin-top: -26px;
  font-size: 25px;
  color:#4b4bee;
  font-weight: bold;
}
ul {
  list-style-type: none;
  margin-left: 400px;

  display: flex;
  justify-content: center;
}

li {
  margin: 0 20px;
}

a.menuu {
  text-decoration: none;
  color: #000000;

}

a.menuu:hover {
  color: #4b4bee;
}
.table{
    background: url(../images/table3.jpg);
    background-size: cover;
    height: 1200px;
    margin-top: 45px;
  }
.call{
    margin-left: -550px;
    padding-top: 350px;
    font-size: 40px;
    color:#4b4bee;
    font-weight: bold;
  }
.hello{
    font-weight: lighter;
    text-align: center;
    margin-left: -530px;
    margin-top: 30px;
    color: #e2dfdf;
  }
.purple-button {
    background-color: #4b4bee;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    height: 50px;
  }
.purple-button:hover{
    background-color: #0000ee;
  }
.but{
    margin-left: -550px;
    margin-top: 30px;
  }

  .closing-button {
    text-decoration: none;
    display: inline-block;
    margin-top: 100px;
    margin-right: 540px;
    color: white;
    box-shadow: 0 0 0 2px white;
    padding: 20px 0;
    width: 250px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
  }
  .closing-button span {
    font-family: 'Gilroy', sans-serif;
    position: relative;
    z-index: 5;
  }
  .closing-button:before, .closing-button:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .closing-button:before {
    transform: translateX(-100%);
    background: white;
    transition: transform .3s cubic-bezier(.55, .055, .675, .19);
  }
  .closing-button:after {
    background: #4b4bee;
    transform: translateX(100%);
    transition: transform .3s cubic-bezier(.16, .73, .58, .62) .3s;
  }
  .closing-button:hover:before, .closing-button:hover:after {
    transform: translateX(0);
  }
  .btn-up {
    position: fixed;
    background-color: #4b4bee;
    right: 20px;
    bottom: 20px;
    border-radius: 22px;
    cursor: pointer;
    width: 44px;
    height: 44px;
    transition: transform 0.5s;
  }
  .btn-up:hover,
  .btn-up:focus{
    filter: brightness(1.5);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .btn-up::before {
    content: "";
    text-align: center;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
  }
  
  .btn-up_hide {
    display: none;
  }
  
  @media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
      background-color: #4b4bee; /* цвет заднего фона при наведении */
    }
  }